<p>
  <strong>String 1:</strong>
  <%= @post.str_1 %>
</p>
 
<p>
  <strong>String 2:</strong>
  <%= @post.str_2 %><br>
</p>
<p>
  <strong>Match:</strong>
  <%= @post.match %>
</p>

<%= link_to 'View all', '/' %>